{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
  <div class="bg-light p-3">
    <h1>Votre panier</h1>
  </div>
  {% if items | length > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>
            Produit
          </th>
          <th>
            Prix
          </th>
          <th>
            Quantité
          </th>
          <th></th>
        </tr>
      </thead>

      {% for item in items %}
        <tr>
          <td>{{item.product.title}}</td>
          <td>{{item.product.price}}</td>
          <td>{{item.quantity}}</td>
          <td>
            <a href="{{ path('remove_panier', {'id': item.product.id}) }}">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>

      {% endfor %}
      <tr>
        <td>
          Totale:
          {{totale}}</td>
      </tr>
    </table>

  {% else %}
    <p>Surprise, c'est vide !</p>
  {% endif %}
{% endblock %}
